.Footer
{
    line-height: 8px;
    height: 32px;
    display: inline-table;
    margin: 0;
    font-size: 1.1rem;
    opacity: 0.6;
    color: #333333;
    list-style: none;
}

.Footer-Tab
{
    display: table-cell;
    padding: 10px 10px 0 0;
}

.Footer-Tab_side_right
{
    line-height: 20px;
    float: right;
    margin-right: 24px;
    font-size: 1.1rem;
}
