.EventFeed
{
    height: 100%;
    max-width: 1024px;
    min-width: 300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    grid-template-rows: minmax(100px, auto);
    grid-gap: 19px 20px;
    grid-auto-flow: dense;
}

